.carousel {
  margin-top: 20px;
}

.card {
  background: #222;
  border-radius: 6px;
  padding: 25px 35px;
  text-align: center;
  overflow: hidden;
  transition: all 0.3s ease;
}

.card:hover {
  background: crimson;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.card:hover .box {
  transform: scale(1.05);
}

.card img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid crimson;
  transition: all 0.3s ease;
  margin-bottom: 10px;
}

.card:hover img {
  border-color: #fff;
}

.text {
  font-size: 25px;
  font-weight: 500;
  margin: 10px 0 7px 0;
  color: white;
}

.description {
  color: white;
  font-size: 14px;
  line-height: 1.5;
}
