.skillsContent {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.column {
  width: calc(50% - 30px);
}

.left .text {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 20px;
}

.left p {
  text-align: justify;
  line-height: 1.6;
}

.right .bars {
  margin-bottom: 25px;
}

.right .info {
  display: flex;
  margin-bottom: 8px;
  align-items: center;
  justify-content: space-between;
}

.right span {
  font-weight: 500;
  font-size: 17px;
  font-family: 'Poppins', sans-serif;
}

.line {
  height: 6px;
  width: 100%;
  background: #333;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}

.line::before {
  content: "";
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  background: #dc143c;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(220, 20, 60, 0.4);
}

.react::before { width: 95%; }
.node::before { width: 85%; }
.uiux::before { width: 90%; }
.js::before { width: 92%; }
.next::before { width: 90%; }
.git::before { width: 85%; }

@media (max-width: 947px) {
  .column {
    width: 100%;
    margin-bottom: 40px;
  }
}
